/* 




*/

body {
    max-width: 700px;
    min-height: 900px;
}

body, footer, header {
    font-family: 'quicksand','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 300px;
    padding: 0;
    margin: auto;
    color: #84828F;
}

body {
    background-color: #01020e;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  TOP BANNER STAYS THE SAME*/

header {                    
    display: flex;
    height: 7.5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
header, footer {
    background-color: #2c2d2e;
}

        /*
             ____________________
            |                    |
            |    headings        |
            |____________________|

        */
        h1, h2 {
            font-family: kaushan;
        }

        h1 {
            letter-spacing: 0.4ch;
            font-size: 35px;
            font-style: italic;
        }

        h2 {
            font-size: 30px;
            font-style: italic;
        }

        h3 {
            font-size: large;
        }

        h4 {
            font-size: medium;   
        }

        h3, h4 {
            font-family: 'quicksand'; 
        } 

        h1, h2, h3, h4 {
            color: #84828F;
        }

        h4 {
            text-align: left;
        }

        abbr {
            text-decoration:underline;
        }
        
/*    {MENU} and {return-up} BUTTON for NAV    */

/* #menu  {
    background-color: transparent;
    border: none;
    font-size: 25px; 
    color: #424242;
    border-radius: 3px;

    position: absolute;
    top: 4vw;
    right: 40px;
}

#menu:hover {
    background-color: #b4aeac;
} */


                        #navigation {
                            display: flex;
                            flex-direction: row;
                            justify-items: center;
                            align-items: center;
                        }

                        /* Make links visible, delete this rule */
                        #navigation a {
                            visibility: hidden;
                        }

                        .box {
                            padding: 3px;
                            color: #c0c0c0;
                            font-size: small;
                        }

                        #box1, #box2, #box3, #box4 {
                            margin: 5px;
                            justify-content: center;
                            align-items: center;
                        }

                        .box:hover {
                            color: #7a5a71;
                        }

                        #box1 {
                            grid-column: 1/2;
                            grid-row: 1/2;
                        }

                        #box2 {
                            grid-column: 2/3;
                            grid-row: 1/2;
                        }

                        #box3 {
                            grid-column: 3/4;
                            grid-row: 1/2;
                        }

                        #box4 {
                            grid-column: 4/5;
                            grid-row: 1/2;
                        }

/*
 ___________________
|                   |
|    GRID layout    |
|___________________|

        MAIN         
*/

#main-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 1000px;
    margin: 10px auto 10px auto;
}

#main-aside {
    display: flex;
    flex-direction: column;
    background-color: #515f6d;
    align-items: center;
}


/* 
__________________________

    Section settings
    - General settings
__________________________
    */
section *:not(p, table) {
    transition: 0.5s;
}

.content {
    width: 90%;
    height: 95%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#section2, #section3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 70% 15%;
}

#section1, #section4 {
    background-position: center;
    background-size: cover;
}

/* 
_______________

    SECTION1 
_______________

*/

#section1 {
    background-image: url('../images/nooa/nooa_rocknroll_bw.jpg');
}

#section1 .content {
    justify-content: flex-end;
}

#section1 .content h2 {
    font-size: 40px;
}

/* 
_______________       _______________
                  |
    SECTION2      |       SECTION3 
_______________   |   _______________

*/

#section2 {
    background-color:#4e4363;
}
#section2 h2, #section3 h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content:space-around;
    margin: 0;
    justify-content: end;
    margin: 0 5px 0 0;
}
#section2 > * {
    color: #a084d3;
}
#section2 .cv-table, #section3 .cv-table {
    grid-row: 2/4;
    grid-column: 1/3;
    overflow-y: auto;
}
#section2 .cv-table table, #section3 .cv-table table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#section2 table, #section2 th, #section2 td {
    border: 1px solid #a084d3;
    box-shadow: 0px 0px 1px 0.5px rgb(103, 89, 121);
}
#section3 {
    background-color:#3f6244;
}
#section3 h2 {
    color: #81ca8e;
}
#section3 table, #section3 th, #section3 td {
    border: 1px solid #a3ffb4;
    box-shadow: 0px 0px 1px 0.5px #81ca8e;
    color: #81ca8e;  
}
th {
    font-family:kaushan;
}
.center {
    text-align: center;
}

/* 
_______________

    SECTION4 
_______________

*/
#section4 {
    background-image: url('../images/nooa/tailstall-BW-croppeds-medium.jpeg');
    color:rgb(255, 255, 255);
}
/* 
________________________

    SECTION FUNCTIONS 
________________________
 
APPLIES TO #section1 and #section4  **section2 and 3 have been determined separately** 
*/
section:hover h2 {
    color: whitesmoke;
}
#section3:hover {
    box-shadow: 2px 2px 0px 2px #54332e;
}
#section3:hover h2 {
    color: #c7ffd1;
}
#section2:hover {
    box-shadow: 2px 2px 0px 2px rgb(103, 89, 121);
}
#section2:hover h2 {
    color: #c3a6f8;
}
#section1:hover {
    box-shadow: 2px 2px 0px 2px rgb(18, 10, 10);
}
#section4:hover {
    box-shadow: 2px 2px 0px 2px rgb(193, 193, 193);
    animation: image-loop 20s infinite;
}
#section4:hover #hobby::after {
    visibility: visible;
    content: "";
    background-color: transparent;
    animation: change-text 20s linear infinite;
}



/* _________

 FOOTER
__________ */


#footer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 100px;
}

#footer-grid #left, #footer-grid #right, #footer-grid #middle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/2;
    
    flex-wrap: wrap;
}

#footer-grid #left {
    grid-column: 1/2;
}

#footer-grid #left img {
    max-width: 100%;
}

#footer-grid #middle {
    grid-column: 2/3;
}

#footer-grid #right {
    grid-column: 3/4;
}

iframe {
    height: 80%;
    max-width: 120px;
    border-radius: 12.5%;
}

/* 
 ___________________
|_____Responsive____|
*/
/* Kun näytön leveys alle 700px */
@media screen and (max-width:600px) { 

    h1, #section1 .content h2 {
        font-size: 5vi;
    }

    h2 {
        font-size: 4vi;
        font-style: italic;
    }

    th, td {
        font-size: 1.3vb;
    }

    #footer-grid {
        font-size: 70%;
    }
}

@media screen and (max-height:860px) {
    section > * {
        font-size: 80%;
    }
}

@keyframes change-text {
    0%      {content: 'Hobbies';
        }
    25%     {content: 'Skateboarding';
        }
    50%     {content: 'Snowboarding';
        }
    75%     {content: 'coding';
        }
} 

@keyframes image-loop {
    0%      {background-image: url('../images/nooa/tailstall-BW-croppeds-medium.jpeg');
        }
    25%     {background-image: url('../images/nooa/gents-rocker-BW.jpeg');
        }
    50%     {background-image: url('../images/friends-B-W.jpeg');
        }
    75%     {background-image: url('../images/coding-desktop.jpg');
        }
} 

/* -------------------------------- */

@font-face {
    font-family: lobster;
    src: url('../fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family: kaushan;
    src: url('../fonts/KaushanScript-Regular.ttf');
}
@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand/Quicksand-Regular.otf');
}
