body, footer, header {
    font-family: 'quicksand','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 350px;
    padding: 0;
    color: #84828F;
}

body {
    background-color: #01020e;

}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    
}

header {                    
    display: flex;
    height: 7.5vh;
    align-items: center;
    justify-content: space-between; /* Adjusted to space-between */
    text-align: center;
    padding: 10px 10px; /* Added padding for spacing around edges */
}

        .header-section {
            flex: 1; /* Makes the div grow to use equal space */
            display: flex;
            justify-content: center; /* Center content for social media links */
            align-items: center;
        }

        #headings {
            flex: 2; /* Allows the heading to take more space, adjust as needed */
            text-align: center;
        }

        #headings h1 {
            font-size: 2rem; /* Fallback for older browsers */
            font-size: clamp(1.1rem, 2.5vw, 3rem); /* Scalable font size */
        }

        .hamburger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30px; /* Width of the hamburger menu */
            height: 25px; /* Total height of the hamburger menu */
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }

        .hamburger-menu:hover {
            background-color: #515f6d;
        }

        .hamburger-menu span {
            display: block;
            height: 3px; /* Height of each line */
            background-color: #616161; /* Color of the hamburger lines */
            border-radius: 2px; /* Optional: adds rounded corners */
        }

        #closeMenu {
            position: absolute;
            top: 20px; /* Adjust as needed */
            right: 20px; /* Adjust as needed */
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 24px; /* Adjust as needed */
        }

        #socialmedia a {
            /* Example: Change color, add padding, etc. */
            /* color: #000; Default color, replace with your preference */
            text-decoration: none;
            padding: 0 5px; /* Add space between icons */
        }

        #socialmedia a:hover {
            color: #555; /* Hover effect color, replace with your preference */
        }

        .fa { 
            font-size: 50px;
            background: transparent;
            text-align: center;
            text-decoration: none;
            margin: 0 10px 0 10px;
            border-radius: 50px;
        }
        .fa-facebook {
            color: #598eff;
        }
        .fa-instagram {
            color: #f667dc;
            /* color: linear-gradient(, #fa7e1e, #d62976, #962fbf, #4f5bd5); */
        }
        .fa-linkedin {
            color: #007bb5;
        }
        header, footer, nav {
            background-color: #2c2d2e;
        }


/*
     ____________________
    |                    |
    |    navigation      |
    |____________________|

*/    

/* Navigation Menu Styles */
nav {
    position: fixed;
    top: 0;
    left: 0; /* Align to the left side of the viewport */
    width: 33.33%; /* Default to a third of the view */
    height: 100%; /* Full height of the viewport */
    box-shadow: 4px 0px 8px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
    transform: translateX(-100%); /* Hide off-screen to the left */
    transition: transform 0.3s ease; /* Smooth slide in effect */
}

/* Visible state */
nav.visible {
    transform: translateX(0); /* Slide in to be fully visible */
}

/* Add other styles for your nav menu here */


/*
     ____________________
    |                    |
    |    headings        |
    |____________________|

*/
h1, h2 {
    font-family: kaushan;
}

h1 {
    letter-spacing: 0.4ch;
    font-style: italic;
}

h2 {
    font-size: 30px;
    font-style: italic;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;   
}

h3, h4 {
    font-family: 'quicksand'; 
} 

h1, h2, h3, h4 {
    color: #84828F;
}

h4 {
    text-align: left;
}

abbr {
    text-decoration:underline;
}
a {
    text-decoration: none;
    color: inherit;
}
        


/*
 ___________________
|                   |
|    GRID layout    |
|___________________|

        MAIN         
*/

#main-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 45vh;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 700px;
    margin: 10px auto 10px auto;
}

#main-aside {
    display: flex;
    flex-direction: column;
    background-color: #515f6d;
    align-items: center;
}


/* 
__________________________

    Section settings
    - General settings
__________________________
    */


section *:not(p, h2, abbr) {
    transition: 0.5s;
}


/* .content {
    width: 90%;
    height: 95%;
    margin: 2.5% 5% 2.5% 5%;
    display: flex;

    font-size: larger;
} */

#section2, #section3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 70% 15%;
}

#section1, #section4 {
    background-position: center;
    background-size: cover;
}

/* 
_______________

    SECTION1 
_______________

*/
#section1, #section4 {
    display: flex;
}
#section1 {
    background-image: url('../images/nooa/nooa_rocknroll_bw.jpg');
    justify-content: flex-end;
    flex-direction: column;}



/* 
_______________       _______________
                  |
    SECTION2      |       SECTION3 
_______________   |   _______________

*/

#section2 {
    background-color:#4e4363;
}
#section2 h2, #section3 h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content:space-around;
    margin: 0;
    justify-content: end;
    margin: 0 5px 0 0;
}
#section2 > * {
    color: #a084d3;
}

#section3 {
    background-color:#3f6244;
}
#section3 h2 {
    color: #81ca8e;
}


#section2 .cv-table table, #section3 .cv-table table {
    width: 95%;
    height: 95%;
    margin: auto;
}
#section2 .cv-table, #section3 .cv-table {
    grid-row: 2/4;
    grid-column: 1/3;
    overflow-y: auto;
}


#section3 table, #section3 th, #section3 td {
    border: 1px solid #a3ffb4;
    box-shadow: 0px 0px 1px 0.5px #81ca8e;
    color: #81ca8e;  
}
#section2 table, #section2 th, #section2 td {
    border: 1px solid #a084d3;
    box-shadow: 0px 0px 1px 0.5px rgb(103, 89, 121);
}
th {
    font-family:kaushan;
}
.center {
    text-align: center;
}

/* 
_______________

    SECTION4 
_______________

*/
#section4 {
    background-image: url('../images/nooa/tailstall-BW-croppeds-medium.jpeg');
    color:rgb(255, 255, 255);
    animation: image-loop 24s linear infinite;
    justify-content: space-around;
}
#section1:hover h2 {
    color: #a084d3
}
#section4:hover h2 {
    color: #81ca8e;
}
/* 
________________________

    SECTION FUNCTIONS 
________________________
 
APPLIES TO #section1 and #section4  **section2 and 3 have been determined separately** 
*/
#section1:hover .content h2, #section1:active .content h2 {
    color: #c7ffd1;
}
#section1:hover, #section1:active {
    box-shadow: 2px 2px 0px 2px white;
}
#section2:hover, #section2:active {
    box-shadow: 2px 2px 0px 2px #c7ffd1;
}
#section2:hover h2, #section2:active h2 {
    color: #caadff;
}
#section3:hover, #section3:active {
    box-shadow: 2px 2px 0px 2px #6e49b4;
}
#section3:hover h2, #section3:active h2 {
    color: #c7ffd1;
}
#section4:hover, #section4:active {
    box-shadow: 2px 2px 0px 2px white;
}
#section4:hover h2, #section4:active h2 {
    color: #cdb3fd;
}
#hobby::after {
    content: "";
    background-color: transparent;
    animation: change-text 24s linear infinite;
}



/* _________

 FOOTER
__________ */


#footer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px;
}

#footer-grid #left, #footer-grid #right, #footer-grid #middle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/2;
    flex-wrap: wrap;
}

#footer-grid #left {
    grid-column: 1/2;
}

#footer-grid #left img {
    max-width: 100%;
}

#footer-grid #middle {
    grid-column: 2/3;
}

#footer-grid #right {
    grid-column: 3/4;
}

iframe {
    height: 80%;
    max-width: 120px;
}

/* 
 ___________________
|_____Responsive____|
*/


@media screen and (max-width:750px){

    nav {
        width: 100%; /* Full width for screens narrower than 750px */
    }
}

/* Kun näytön leveys alle 700px */
@media screen and (max-width:600px) { 

    h2 {
        font-size: 4vi;
        font-style: italic;
    }

    th, td {
        font-size: 1.3vb;
    }

    #footer-grid {
        font-size: 70%;
    }
}

@media screen and (max-height:860px) {
    #section3 > * {
        font-size: 70%;
    }

    #section2 > * {
        font-size: 60%;
    }
}

@keyframes change-text {
    0%      {content: 'Hobbies';
        }
    20%     {content: 'Skateboarding';
        }
    40%     {content: 'Snowboarding';
        }
    60%     {content: 'Coding and infosec';
        }
    80%     {content: 'Padel'
        }   
    100%    {content: 'Hobbies'}
} 

@keyframes image-loop {
    0%      {background-image: url('../images/nooa/tailstall-BW-croppeds-medium.jpeg');}

    20%     {background-image: url('../images/nooa/gents-rocker-BW.jpeg');
        }
    40%     {background-image: url('../images/nooa/tailstall-BW-croppeds-medium.jpeg');
        }
    60%     {background-image: url('../images/nooa/splitti-pose-bnw.jpg');
    }
    80%     {background-image: url('../images/coding-desktop.jpg');     
        }
    100%    {background-image: url('../images/nooa/padel-nooa-bnw.jpg');
    }
} 

/* -------------------------------- */

@font-face {
    font-family: lobster;
    src: url('../fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family: kaushan;
    src: url('../fonts/KaushanScript-Regular.ttf');
}
@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand/Quicksand-Regular.otf');
}






/* 

Possibly usable:
menu button and navigation menu


{MENU} and {return-up} BUTTON for NAV

 #menu  {
    background-color: transparent;
    border: none;
    font-size: 25px; 
    color: #424242;
    border-radius: 3px;

    position: absolute;
    top: 4vw;
    right: 40px;
}

#menu:hover {
    background-color: #b4aeac;
}
 #navigation {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}


                        #navigation a {
                            visibility: visible;
                        }

                        .box {
                            padding: 3px;
                            color: #c0c0c0;
                            font-size: small;
                
                        }

                        #box1, #box2, #box3, #box4 {
                            margin: 5px;
                            justify-content: center;
                            align-items: center;
                        }

                        .box:hover, .box:active {
                            color: #7a5a71;
                        }

                        #box1 {
                            grid-column: 1/2;
                            grid-row: 1/2;
                        }

                        #box2 {
                            grid-column: 2/3;
                            grid-row: 1/2;
                        }

                        #box3 {                          
                            grid-column: 3/4;
                            grid-row: 1/2;
                        }

                        #box4 {
                            grid-column: 4/5;
                            grid-row: 1/2;
                        } */